<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		 <style>
		 	.check{
		 		background-color:orangered;
		 	}
		 </style>
		<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script> 
 		<script src="https://cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  		<script src="https://cdn.bootcss.com/vue-resource/1.2.0/vue-resource.min.js"></script>
        <script>     
     
     $(function(){
     	
     	var app =new Vue({
     		el:"#app1",
     		data:{
     			title:"1数据绑定",
     			productList:[],
     			checkAllFlag:false,
     			totalMoney:0 
     		},
     		filters:{
     			formatMoney: function(value){
     				return "￥"+value.toFixed(2);
     			}
     		},
     		mounted:function(){ //用来初始化     		
     			this.$nextTick(function(){				    
     					this.cartView(); //可以直接使用app.函数（）
     			})
     		},
     		methods:{
     			cartView:function(){
     				//第一种写法
     				//var _this =this;
//     				this.$http.get("http://olyh26zl9.bkt.clouddn.com/111.json",{"Id":123}).then(function(res){   					
//     				    this.productList =res.data.result.list;    					
//     				});
       				//第二种写法（推荐）
       				this.$http.get("http://olyh26zl9.bkt.clouddn.com/111.json",{"id":"123"})  ////可以直接使用app.函数（）
							.then((response) => {								
								this.productList =response.data.result.list;  //返现这里用this也行    
							})
							.catch(function(response) {
							console.log(response)
							})									
     		    },
     			changeCount:function(product,way){
     		    	if(way>0){
     		    		product.productQuentity++;
     		    	}else if(way<0){
     		    		product.productQuentity--;
     		    		if(product.productQuentity<1){
     		    			product.productQuentity=1;
     		    		}
     		    	}
     		    	this.calcTotalPrice(); //计算总价格
     		    },
     		    selectProduct:function(item){
     		    	if(typeof item.checked=='undefined'){
     		    		this.$set(item,'checked',true);  //为item 创建没有的属性
     		    	}else{
     		    		item.checked =!item.checked; //取反
     		    	}
     		    	this.calcTotalPrice(); //计算总价格
     		    },
     		    checkAll:function(flag){
     		    	this.checkAllFlag =!this.checkAllFlag; //全选 和取消全选
     		    	var _this =this;
 		    		this.productList.forEach(function(item,index){
 		    			if(typeof item.checked=='undefined'){
 		    		     _this.$set(item,'checked',_this.checkAllFlag); 
	     		    }else{
	     		    		item.checked =_this.checkAllFlag;
	     		    	}
 		    		});
     		    	this.calcTotalPrice(); //计算总价格
     		   },
     		   calcTotalPrice:function(){ //计算商品总金额
     		   	var _this =this;
     		   	this.totalMoney =0;
     		   	this.productList.forEach(function(item,index){
     		   		if(item.checked){
     		   			_this.totalMoney += item.productQuentity*item.productPrice;
     		   		}
     		   	})
     		   },
     		   del:function(item){  //删除
     		   	 var index =this.productList.indexOf(item);  //获取索引
     		   	this.productList.splice(index,1)  //js原生方法  从当前索引删，删掉数量
     		   }
     		}
     	});
  		Vue.filter("money",function(value,type){
  			return "￥"+value.toFixed(2) +type;  			
  		})
     });
     	
     	
    
     </script>
	</head>
	<body>
		<div class="container" id ="app1">
			<h1>{{title}}</h1>
			<table class="table table-hover">
					
			</table>
			<table class="table">
		      <caption>Optional table caption.</caption>
		      <thead>
		        <tr>
		        	<th></th>
		          <th>商品信息</th>
		          <th>商品金额</th>
		          <th>商品数量</th>
		          <th>总金额</th>
		          <th>编辑</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<!--写法发生变化，类似jq里面的foreach  index为索引-->
		      	<tr v-for="(item,index) in productList">
		      		<!--v-bind:class="" 可以直接追加class-->
		      		此处表示object类型  check:true 则追加这个类 
		      		<td><div class="1" style="height: 15px;width: 15px;cursor: pointer;" v-bind:class="{check:item.checked}" v-on:click="selectProduct(item)">√</div></td>
		      		<td>{{item.productName}}
		      			<img v-bind:src="item.productImage"><!--  可以简写  :src="item.productImage"-->
		      		
		      		<div style="background-color:red;">
		      		  <span v-for="i in item.parts" v-text="i.partsName"></span>
		      		</div>
		      		</td>
		      		<!--使用过滤器-->
		      		<td>{{item.productPrice | formatMoney}}</td>
		      		<td>
		      			<a style="background-color: #2f2f2f;padding: 10px;cursor: pointer;" href="#" v-on:click="changeCount(item,-1)">-</a>
		      			{{item.productQuentity}}
		      			<a style="background-color: #2f2f2f;padding: 10px;cursor: pointer;" href="#" @click="changeCount(item,1)">+</a>
		      		</td>
		      		<!--使用全局过滤器-->
		      		<td>{{item.productPrice *item.productQuentity | money('元')}}</td>
		      		<td><button class="btn btn-danger" v-on:click="del(item)">删除</button></td>
		      	</tr>
		      	<tr>
		      		<td><div class="1" style="height: 15px;width: 15px;cursor: pointer;" v-bind:class="{check:checkAllFlag}" v-on:click="checkAll()">√全选</div></td>
		      		<td>
		      		<!--直接就是单层判断 或三元表达式--> 
		      		<!--<a @click="checkAllFlag=false">取消全选</a>-->
		      		<!--<a @click="checkAll(false)">取消全选</a>-->
		      		</td>
		      		<td></td>
		      		<td></td>
		      		<td>总金额  {{totalMoney | money('元')}}</td>
		      		<td></td>
		      		
		      	</tr>
		        
		      </tbody>
    		</table>
		</div>
	</body>
</html>
