<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/vue.2.6.10.js"></script>
    <!--<script src="../js/vue1.0.25.js"></script> -->

</head>

<body>
    <div id="app">
        <parent-component>
        </parent-component>
        <temp-component></temp-component>
    </div>
    <template id="myComponent">
        <div style="background-color: red;">模板注册方式!</div>
    </template>


    <script>
        //这是1.0版本的写法
        var Child = {
            template: '<p>This is a child component!</p>'
        }

        var Parent = {
            // 在Parent组件内使用<child-component>标签
            template: '<div><p>This is a Parent component </p><child-component></child-component>123</div>',
            components: {
                // 局部注册Child组件，该组件只能在Parent组件内使用
                'child-component': Child

            }
        }

        // 全局注册Parent组件
        Vue.component('parent-component', Parent)
        Vue.component('temp-component', {
            template: '#myComponent'
        })
        new Vue({
            el: '#app',
            //components: {
            //  //模板注册的方式
            //'temp-component': {
            //  template: '#myComponent'
            //}
            //}
        })
    </script>

    <div style="border-bottom:1px solid red;margin-top:100px;">
    </div>


    <!--子父数据传输-->
    <div id="app3">
        <h1>父子组件</h1>
        <div class="container">
            <table class="table">
                <tr>
                    <th colspan="3">父组件数据</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{ name }}</td>
                    <td><input type="text" v-model="name" /></td>
                </tr>
                <tr>
                    <td>age</td>
                    <td>{{ age }}</td>
                    <td><input type="text" v-model="age" /></td>
                </tr>
            </table>
            <!--//v-bind:so-name=name.sync="name" 原来的写法-->
            <table-component v-bind:so-name=name v-bind:my-age=age></table-component>
            <table-component v-bind:so-name="name" v-bind:my-age="age"></table-component>

            <blog-post v-for="post in posts" v-bind:post="post"></blog-post>
        </div>
        <div></div>
    </div>

    <template id="ttComponent">
        <table class="table">
            <tr>
                <th colspan="2" style="background-color:aquamarine">
                    子组件数据
                </th>
            </tr>
            <tr>
                <td>my name</td>
                <td>{{ soName }}</td>
                <td><input type="text" v-model="soName" /></td>
            </tr>
            <tr>
                <td>my age</td>
                <td>{{ myAge }}</td>
                <td><input type="text" v-model="myAge" /></td>
            </tr>
        </table>
    </template>
    <script>
        Vue.component('table-component', {
            template: '#ttComponent',
            props: ['soName', 'myAge']
        })
        Vue.component('blog-post', {
            props: ['post'],
            template: '<h3>{{ post.title }}</h3>'
        })
        new Vue({
            el: '#app3',
            data: {
                name: 'keep',
                age: 25,
                posts: [
                    { id: 1, title: 'My journey with Vue' },
                    { id: 2, title: 'Blogging with Vue' },
                    { id: 3, title: 'Why Vue is so fun' }
                ]
            }
        })

    </script>
    <div id="app4">
        <h1>子组件事件</h1>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <!-- v-on 监听这个事件 -->
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"
                v-on:enlarge-text="postFontSize += 0.1"></blog-post>
            <!-- v-on 监听这个事件有参数 -->
            <blog-post2 v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-on:enlarge-text="onEnlargeText">
            </blog-post2>
        </div>
    </div>
    <template id="blogPost">
        <div class="blog-post">
            <h3>{{ post.title }}</h3>
            <!-- 触发一个事件 -->
            <button v-on:click="$emit('enlarge-text')">
                Enlarge text
            </button>
            <div v-html="post.content"></div>
        </div>
    </template>
    <template id="blogPost2">
        <div class="blog-post">
            <h3>{{ post.title }}</h3>
            <!-- 触发一个事件 -->
            <button v-on:click="$emit('enlarge-text',0.2)">
                Enlarge text2
            </button>
            <div v-html="post.content"></div>
        </div>
    </template>
    <script>
        Vue.component('blog-post', {
            props: ['post'],
            template: "#blogPost"
        })
        Vue.component('blog-post2', {
            props: ['post'],
            template: "#blogPost2"
        })
        new Vue({
            el: '#app4',
            data: {
                posts: [{ id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' }],
                postFontSize: 1
            },
            methods: {
                onEnlargeText: function (enlargeAmount) {
                    this.postFontSize += enlargeAmount
                }
            }
        })

    </script>
    <div id="app5">
        <h1>自定义input v-model</h1>
        <custom-input v-bind:value="searchText" v-on:input="searchText = $event"></custom-input>
    </div>
    <script>
        Vue.component('custom-input', {
            props: ['value'],
            template: `
            <input
            v-bind:value="value"
            v-on:input="$emit('input', $event.target.value)"
            >
        `
        })
        new Vue({
            el: '#app5',
           
        })
    </script>
</body>


</html>