<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	 	<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script> 
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app1">
			<my-component></my-component>
			<table>
			  <!--html的限制 ，这样写 有父元素的标签-->
			 <tr is="my-row">
			 
			 </tr>
			</table>
		</div>
		<script>

			new Vue({
				el:"#app1",
				components: {
			    // 
			    'my-component': {
				  template: '<div>这是一个模板 	{{ message }}</div>',
				  //组件传值data为 函数
				  data: function(){
						return {
							message:'hello'
						}
					}
				},
				'my-row':{
					template:'<tr><td>你好</td></tr>',
					
				}
			  }
			})
		</script>
		<div id="app2">
			<h1>每一个组件返回了同一个对象引用</h1>
		  <simple-counter></simple-counter>
		  <simple-counter></simple-counter>
		  <simple-counter></simple-counter>
		</div>
		<script>
			var data = { counter: 0 }
			Vue.component('simple-counter', {
			  template: '<button v-on:click="counter += 1">{{ counter }}</button>',
			  // data 是一个函数，因此 Vue 不会警告，
			  // 但是我们为每一个组件返回了同一个对象引用
			  data: function () {
			    return data
			  }
			})
			new Vue({
			  el: '#app2'
			})
		</script>
		<div id="app3">
			<h1>每个组件返回新的 data </h1>
		  <simple-counter></simple-counter>
		  <simple-counter></simple-counter>
		  <simple-counter></simple-counter>
		</div>
		<script>
			var data = { counter: 0 }
			Vue.component('simple-counter', {
			  template: '<button v-on:click="counter += 1">{{ counter }}</button>',
			  // data 是一个函数，因此 Vue 不会警告，
			  // 但是我们为每一个组件返回了同一个对象引用
			  data: function () {
			    return {
			    	counter:0
			    }
			  }
			})
			new Vue({
			  el: '#app3'
			})
		</script>
		<div id="app4">
			<h1>prop 父传子</h1>
			<h3>camelCased (驼峰式) 命名的 prop 需要转换为相对应的 kebab-case (短横线隔开式) 命名</h3>
			<input v-model="message">
			<!--message="hello!"-->
			<child-component v-bind:ch-message=message></child-component>
		</div>
		
		<script>
			new Vue({
				el:"#app4",
				data:{
					message:'你好'
				},
				components:{
					'child-component':{
						 // 声明 props
						  props: ['chMessage'],
						  // 就像 data 一样，prop 可以用在模板内
						  // 同样也可以在 vm 实例中像 “this.message” 这样使用
						  template: '<span>{{ chMessage }}</span>'
					}
				}
			})
		</script>
		<div id="app5">
			<h1>事件 子传父</h1>
			<p>{{total}}</p>
			<btn-component  v-on:increment="incrementTotal"></btn-component>
			<btn-component  v-on:increment="incrementTotal"></btn-component>
		</div>
		<script>
			Vue.component('btn-component',{
				  template: '<button v-on:click="increment">{{ counter }}</button>',
				  data:function(){
				  	return {
				  		counter:0
				  	}
				  },
				  methods:{
				  	increment:function(){
				  		this.counter += 1;
				  		this.$emit("increment");
				  	}
				  }
			})
			new Vue({
				el:'#app5',
				data:{
					total:0
				},
				methods:{
					incrementTotal:function(){
						this.total+=1;
					}
				}
			})
		</script>
		<div id="app6">
			<h1>demo</h1>
			  <currency-input label="Price" v-model="price"></currency-input>
			  <currency-input label="Shipping" v-model="shipping"></currency-input>
			  <currency-input label="Handling" v-model="handling"></currency-input>
			  <currency-input label="Discount" v-model="discount"></currency-input>
  
 			 <p>Total: ${{ total }}</p>
		</div>
		<script src="../js/currency-validator.js"></script>
		<script>
			Vue.component('currency-input', {
			  template: '\
			    <div>\
			      <label v-if="label">{{ label }}</label>\
			      $\
			      <input\
			        ref="input"\
			        v-bind:value="value"\
			        v-on:input="updateValue($event.target.value)"\
			        v-on:focus="selectAll"\
			        v-on:blur="formatValue"\
			      >\
			    </div>\
			  ',
			  props: {
			    value: {
			      type: Number,
			      default: 0
			    },
			    label: {
			      type: String,
			      default: ''
			    }
			  },
			  mounted: function () {
			    this.formatValue()
			  },
			  methods: {
			    updateValue: function (value) {
			      var result = currencyValidator.parse(value, this.value)
			      if (result.warning) {
			        this.$refs.input.value = result.value
			      }
			      this.$emit('input', result.value)
			    },
			    formatValue: function () {
			      this.$refs.input.value = currencyValidator.format(this.value)
			    },
			    selectAll: function (event) {
			      // Workaround for Safari bug
			      // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
			      setTimeout(function () {
			      	event.target.select()
			      }, 0)
			    }
			  }
			})
			
			new Vue({
			  el: '#app6',
			  data: {
			    price: 0,
			    shipping: 0,
			    handling: 0,
			    discount: 0
			  },
			  computed: {
			    total: function () {
			      return ((this.price * 100 + 
			        this.shipping * 100 + 
			        this.handling * 100 - 
			        this.discount * 100) / 100).toFixed(2)
			    }
			  }
			})
		</script>
	</body>
</html>
